includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon
  
parameters:
    level: 6

    paths:
        - app
        - database/factories
        - database/seeders
        - routes
        - tests

    ignoreErrors:
    
    excludePaths:
    